body {
    background-color: brown;
}

div.container {
    display: flex;
    flex-shrink: 0;
    min-width: 100%;
    background-color: orange;
    width: 100%;
    vertical-align: middle;
    padding: 5px;
    gap: 10px;
}

div.content {
    background-color: black;
}

img.feed {
    height: 512px;
}

div.topbar {
    position: fixed;
    width: 100%;
    height: 64px;
    color: brown;
    background-color: rgb(226, 0, 0);
    z-index: 99;
}

div.corner {
    position: fixed;
    width: 64px;
    height: 64px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}